.header {
  display: flex;
}

.header__icon {
  object-fit: cover;
  height: 100px;
  margin-left: 20px;
}

.header__center {
  display: flex;
  align-items: center;
}

.img {
  display: flex;
  align-items: center;
}
